<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579665623237-dj0cmmn0ti4qmh72t12h9ffjg22j65m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579665623237-dj0cmmn0ti4qmh72t12h9ffjg22j65m1</string>
	<key>API_KEY</key>
	<string>AIzaSyAVPsS_WAEUhP-NXfar4L3RbTec57l85ck</string>
	<key>GCM_SENDER_ID</key>
	<string>579665623237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iit.coursework2.Covid19-Tracker</string>
	<key>PROJECT_ID</key>
	<string>login-cov-sars</string>
	<key>STORAGE_BUCKET</key>
	<string>login-cov-sars.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579665623237:ios:ec09512fb9feba155598ac</string>
	<key>DATABASE_URL</key>
	<string>https://login-cov-sars.firebaseio.com</string>
</dict>
</plist>